body {
	color: #189bc1;
}

.glyphicon, .material-icons {
	color: black;
	font-size: 2rem;
}

.projects {
	color: #189bc1;
}

.about {
	font-family: advent-pro, sans-serif;
	color: #189bc1;
}

.jumbotron {
	font-family: advent-pro, sans-serif;
    background-color: white; 
    color: #189bc1;
}

.hoverable {
	font-size: 1rem;
	text-align: center;
	background-color: white;
	color: #189bc1;
}

.nav-wrapper {
	font-family: advent-pro, sans-serif;
	background-color: #189bc1;
	color: white;
}

.navlinks {
	color: white;
	margin-left: 18%;
}

.page-footer {
	font-family: advent-pro, sans-serif;
	background-color: #189bc1 !important;
	color: white;
}

.card-panel {
	color: #189bc1;
	text-align: center;
}

.fa-4x {
	color: white !important;
}

.links{
	color: white;
}

.background {
	background-color: #189bc1;
}

#chrissticker {
	height: 80px;
	width: 80px;
	margin-bottom: 18px;
}

#menuButton {
	color: white;
}

nav ul a {
	text-align: center;
}

.socialButtons {
	height: 40px;
	width: 40px;
	margin: auto;
}
.side-nav {
	color: black;
	text-align: center;
}